div.jerusalempost-feed { }
div.jerusalempost-feed li {
	list-style-type: none;
	list-style: none;
	padding-bottom: 10px;
	}
div.jerusalempost-feed li a { font-weight: bold; }
div.jerusalempost-feed li img { float: left; margin: 5px 10px 5px 0; }
div.jerusalempost-feed li span { font-size: 10px; }
